:root {
  --bg-dark: hsl(230, 17%, 14%);
  --bg-dark-top: hsl(232, 19%, 15%);
  --bg-dark-card: hsl(228, 28%, 20%);
  --text-dark-color: hsl(228, 34%, 66%);
  --text-dark-white: hsl(0, 0%, 100%);

  --bg-light-card: hsl(227, 47%, 96%);
  --bg-light-top: hsl(225, 100%, 98%);
  --text-light-color: hsl(228, 12%, 44%);
  --bg-white: hsl(0, 0%, 100%);
  --text-light-dark: hsl(230, 17%, 14%);

  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%)
  --twitter: hsl(203, 89%, 53%)
  --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
  --youTube: hsl(348, 97%, 39%)

}
$breakpoints: (
  sm: 45em,
  // 720px
  md: 48em,
  // 768px
  lg: 65em,
  // 1040px
);
