@use '../abstracts' as *;
.cards {
  display: grid;
  grid-auto-columns: 300px;
  gap: 2em;
  justify-content: center;
  @include mq(640px) {
    grid-template-columns: repeat(2, 300px);
  }
  @include mq(1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
