@use '../abstracts' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  padding-block: 1.5em;
  border-radius: 0.4em;

  &__user {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  &__followers {
    text-align: center;
  }
  &__state {
    display: flex;
    align-items: center;
    gap: 0.3em;
    color: var(--green);
  }
  &__state--down {
    color: var(--red);
  }
  &:nth-child(1) {
    border-top: 4px solid hsl(208, 92%, 53%);
  }
  &:nth-child(2) {
    border-top: 4px solid hsl(203, 89%, 53%);
  }
  &:nth-child(3) {
    border-top: 4px solid transparent;
    border-image: linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(329, 70%, 58%)
      )
      1;
  }
  &:nth-child(4) {
    border-top: 4px solid hsl(348, 97%, 39%);
  }
}
