@use '../abstracts' as *;
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .switch-right {
    flex-basis: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(sm) {
      flex-basis: 150px;
    }
  }
}
