.wrap-toggle {
  padding-top: 0.5em;
}
.switch {
  position: relative;
  display: inline-block;
  background: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  width: 4rem;
  height: 2rem;
  border-radius: 100vw;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: 5px;
    top: 4px;
    background-color: var(--bg-dark);
    border-radius: 50%;
    transition: all 0.4s;
  }
}

input[type='checkbox']:checked + .switch::after {
  transform: translateX(30px);
  background-color: hsl(0, 0%, 100%);
}
input[type='checkbox']:checked + .switch {
  background: transparent;
  background-color: var(--text-light-color);
}
.offscreen {
  display: none;
}
