body {
  background: linear-gradient(
    to bottom,
    var(--bg-dark-top) 25%,
    var(--bg-dark) 20%
  );
}
.card-bg {
  background-color: var(--bg-dark-card);
}

:where(span, p) {
  color: var(--text-dark-color);
}
:where(.title, .subtitle, strong) {
  color: var(--text-dark-white);
}
.dark-mode-off {
  --bg-dark-top: var(--bg-light-top);
  --bg-dark: var(--bg-white);
  --bg-dark-card: var(--bg-light-card);
  --text-dark-color: var(--text-light-color);
  --text-dark-white: var(--text-light-dark);
}
