@use '../abstracts' as *;
.caja {
  width: 300px;
  height: 300px;
  border-top: 10px solid transparent;
  border-image: linear-gradient(to right, #bb3ad5 10%, #e7e42d 100%) 1;
  border-radius: 3em;
}
body {
  // background-color: fn-color(bg-dark);
}
