@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
}
strong {
  font-size: 3em;
  // hacer con clamp()
  font-weight: 700;
  display: block;
}
span {
  text-transform: uppercase;
  letter-spacing: 3px;
  // color: var(--text-color);
  font-size: 0.9em;
  // hacer con clamp()
}
p {
  font-size: 14px;
  // color: var(--text-color);
  font-weight: 700;
}
.strong-today {
  font-size: 2em;
}
.text-today {
  // font-weight: 700;
  font-size: 13px;
}
.title {
  font-size: clamp(1.5rem, 1.4273rem + 0.3636vw, 1.7rem);
  font-weight: 700;
}
.subtitle {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
