.flex {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding-block: 1.5em;
  padding-inline: 2em;
  border-radius: 0.4em;
}
.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
